Flask>=3.0,<4
google-api-python-client>=2.0,<3
google-auth>=2.0,<3
google-auth-oauthlib>=1.0,<2
psutil>=5.9,<8
pyinstaller>=6.0,<7
Pillow>=10.0,<12
pystray>=0.19,<1
pywin32>=306
pywebview>=5.0,<6
qrcode>=8.0,<9
